body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    margin-bottom: 20px;
}
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightgray;
}

.product-table {
    width: 100%;
}

.product-table th, .product-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}