<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<table class="table table-striped table-bordered mx-auto">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--        <th>Product</th>-->
<!--        <th>Price</th>-->
<!--        <th>Amount</th>-->
<!--        <th>Total price</th>-->
<!--        <th>Option</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="order: ${orders}">-->
<!--        <td th:text="${order.street}"></td>-->
<!--        <td>-->
<!--            <form th:method="get" class="d-inline"-->
<!--                  th:action="@{/orders/{id}/edit(id=${order.id})}">-->
<!--                <button class="btn btn-warning">update</button>-->
<!--            </form>-->
<!--            <form th:method="delete" class="d-inline"-->
<!--                  th:action="@{/orders/{id}(id=${order.id})}">-->
<!--                <button class="btn btn-danger">drop</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>